@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.servicios-container {
  flex: 1; /* Esto hace que el contenedor ocupe el espacio disponible */
  background-color: #f1f1f1c7;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  margin-bottom: 0;
  box-shadow: 0px 4px 6px #0000001a;
  font-family: 'Roboto Mono', sans-serif;
}

.servicios-title{
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.servicios-subtitle {
    font-size: 1.8rem;
    margin-top: 25px;
    font-weight: bold;
    color: #333;
}

.subtitle-2{
    font-size: 1.6rem;
}

.servicios-container h4 {
    font-size: 1.2rem;
    margin-top: 15px;
    font-weight: bold;
    color: #353535;
}

.servicios-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
}

.servicios-container ul {
    list-style-type: none;
    padding-left: 20px;
}

pre {
    background-color: #5f5d5d;
    border-radius: 4px;
    overflow-x: auto;
    font-size: 0.9rem;
    text-align: left;
    max-width: auto;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-shadow: 0px 3px 3px black;
}



.code-1{
    color:white;
}

.separador-1 {
    border: 0;
    height: 4px;
    background-color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}
