<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justificación</title>
</head>
<body>
    <div class="home-container">
        <h1 class="home-title">Justificación de elección</h1>
        <p class="home-description">
          Angular es un framework de desarrollo de aplicaciones web desarrollado por Google. 
          Está basado en TypeScript y permite crear aplicaciones SPA (Single Page Applications) de forma estructurada y escalable.
        </p>
        <hr class="separador-1">
      
        <section class="installation">
          <h2 class="section-title">&#8594; ¿Por qué elegir este framework?</h2>
          <p>
            Permite la creación de interfaces de usuario complejas y de alto rendimiento, facilitando la gestión de datos y la interacción con el servidor.
          </p>
          <hr>

          <h2>&#8594; ¿Qué aplicaciones tiene?</h2>
          <p class="section-description">
            Angular es ideal para crear aplicaciones web interactivas, como:
            <ul>
              <li>Sistemas de gestión de contenido (CMS).</li>
              <li>Aplicaciones de comercio electrónico.</li>
              <li>Aplicaciones de red social.</li>
              <li>Aplicaciones móviles híbridas.</li>
              <li>Paneles de administración y dashboards.</li>
            </ul>

            <hr>
          
      
          <h2 class="section-title">&#8594; ¿Sobre qué lenguajes se apoya Angular?</h2>
          <p>
            Angular se apoya principalmente en:
            <ul>
              <li><strong>TypeScript</strong>: Un superset de JavaScript que agrega tipado estático, lo que permite un código más seguro y fácil de mantener.</li>
              <li><strong>HTML</strong>: Para estructurar el contenido y las vistas de la aplicación.</li>
              <li><strong>CSS</strong>: Para aplicar estilos y mejorar la presentación visual de la aplicación.</li>
            </ul>



        </section>
      </div>
</body>

</html>
